<article>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

    <main>
      <h1>Registrazione</h1>
      <p>I campi contrassegnati dall'asterisco * sono obbligatori</p>

      <div *ngFor="let field of fields; let i=index">
        @if (field.key==='sesso'){
          <select [formControlName]="field.key">
            <option selected disabled>{{ field.title }}</option>
            <option value="maschio">Maschio</option>
            <option value="femmina">Femmina</option>
          </select>

        }@else {
          <div>
            <input  [type]="field.type" placeholder="" value=""
                    [id]="field.key" [name]="field.key" [formControlName]="field.key"
            >
            <label [for]="field.key">{{ field.title }}</label>
          </div>
        }
      </div>
    </main>
    
    <footer>
      <button type="submit" [disabled]="form.invalid">Registrati</button>
      <button routerLink="/access">Accedi</button>
      
      <div check>
        <input type="checkbox" id="flexCheckChecked" formControlName="termini">
        <label for="flexCheckChecked" >Accetta i temini e le condizioni</label>
      </div>
    </footer>

  </form>
</article>
