<article>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

    <main>
      <h1>Accesso</h1>
      <p>I campi contrassegnati dall'asterisco * sono obbligatori</p>

      <div *ngFor="let field of fields; let i=index">
        <div>
          <input  [type]="fieldsService.onInputType(field.title)" value=""
                  [id]="field.title" [name]="field.title"
                  [placeholder]="field.title" [formControlName]="field.title">
          <label [for]="field.title">{{ field.placeHold }}</label>
        </div>
      </div>
    </main>
    
    <footer>
      <button type="submit" [disabled]="form.invalid">Accedi</button>
      <button routerLink="/login">Registrati</button>
    </footer>

  </form>
</article>
