<article>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

    <main>
      <h1>Accesso</h1>
      <p>I campi contrassegnati dall'asterisco * sono obbligatori</p>

      <div *ngFor="let field of fields; let i=index">
        <div>
          <input  [type]="field.type" value="" placeholder=""
                  [id]="field.key" [name]="field.key" [formControlName]="field.key"
          >
          <label [for]="field.key">{{ field.title }}</label>
        </div>
      </div>
    </main>
    
    <footer>
      <button type="submit" [disabled]="form.invalid">Accedi</button>
      <button routerLink="/login">Registrati</button>
    </footer>

  </form>
</article>
